{% extends 'front/base.html' %}
{% load static %}


{% block content %}
<div class="wrapper">
    <div class="profile-content section">
      <div class="container">
        <div class="row">
          <div class="profile-picture">
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <br><br>
              <div class="fileinput-new img-no-padding">
               <center> <img src="{% static 'front/img/faces/ajie.jpeg '%}" alt="..."></center>
              </div>
              <div class="name">
                <h4 class="title text-center">Muhamad Aji Romadhon<br /><small>S1 Teknik Informatika</small></h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto text-center">
            <p>1911102441132</p>
            <br />
          </div>
        </div>
        <br />
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}